h1{
    border: 2px dashed brown;
    border-radius: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(125,95,110);
    background-color: lightgray;
}
p{
    padding: 10px;
    border:1px solid #ccc;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    letter-spacing: 0.5px;
}